/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
        macros {
                mc_copy: copy {
                        label = "copy_macro";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LGUI>
                                , <&macro_tap &kp C>
                                , <&macro_release &kp LGUI>
                                ;
                };
                mc_paste: paste {
                        label = "paste_macro";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LGUI>
                                , <&macro_tap &kp V>
                                , <&macro_release &kp LGUI>
                                ;
                };
                mc_undo: undo {
                        label = "undo_macro";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LGUI>
                                , <&macro_tap &kp Z>
                                , <&macro_release &kp LGUI>
                                ;
                };
                mc_redo: redo {
                        label = "redo_macro";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LGUI>
                                , <&macro_press &kp LSHIFT>
                                , <&macro_tap &kp Z>
                                , <&macro_release &kp LSHIFT>
                                , <&macro_release &kp LGUI>
                                ;
                };
                mc_spot_light: spot_light {
                        label = "spot_light";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp D>
                                , <&macro_release &kp LALT>
                                ;
                };
                mc_vs_command: vs_command {
                        label = "vs_code_command";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LGUI>
                                , <&macro_tap &kp P>
                                , <&macro_release &kp LGUI>
                                ;
                };
                mc_vs_format: vs_format {
                        label = "vs_code_format";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings 
                                = <&macro_press &kp LALT>
                                , <&macro_press &kp LSHIFT>
                                , <&macro_tap &kp F>
                                , <&macro_release &kp LSHIFT>
                                , <&macro_release &kp LALT>
                                ;
                };
                mc_w_half_l: w_half_l {
                        label = "move_win_half_l";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_press &kp LALT>
                                , <&macro_tap &kp LEFT>
                                , <&macro_release &kp LALT>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                mc_w_half_r: w_half_r {
                        label = "move_win_half_r";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_press &kp LALT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LALT>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                mc_w_full: w_full {
                        label = "move_win_full";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_press &kp LALT>
                                , <&macro_tap &kp ENTER>
                                , <&macro_release &kp LALT>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                mc_w_gaps: w_gaps {
                        label = "move_win_gaps";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_press &kp LALT>
                                , <&macro_tap &kp A>
                                , <&macro_release &kp LALT>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                mc_scr_part: scr_part {
                        label = "screen_partion";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI>
                                , <&macro_press &kp LSHIFT>
                                , <&macro_tap &kp N4>
                                , <&macro_release &kp LGUI>
                                , <&macro_release &kp LSHIFT>
                                ;
                };
                mc_scr_menu: scr_menu{
                        label = "call_screen_menu";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI>
                                , <&macro_press &kp LSHIFT>
                                , <&macro_tap &kp N5>
                                , <&macro_release &kp LGUI>
                                , <&macro_release &kp LSHIFT>
                                ;
                };
        };
};

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <150>;
                        quick-tap-ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&none   &mt LGUI RBKT     &kp Q           &kp W        &kp E         &kp R             &kp T        /*|*/     &kp Y         &kp U            &kp I         &kp O      &kp P          &mt RGUI LBKT  &none
        &mt LCTRL GRAVE   &hm LCTRL A     &hm LALT S   &hm LGUI D    &hm LSHIFT F      &hm SPACE G  /*|*/     &kp H         &hm RSHIFT J     &hm RGUI K    &hm RALT L &hm RCTRL SEMI &mt RCTRL SQT
        &mt LALT MINUS    &kp Z           &kp X        &kp C         &kp V             &kp B        /*|*/     &kp N         &kp M            &kp COMMA     &kp DOT    &kp FSLH       &mt RALT BSLH
                                                       &lt RSE TAB   &mt LSHFT SPACE   &lt LWR RET  /*|*/     &lt LWR ESC   &mt RSHFT BSPC   &lt RSE DEL
                        >;
                };
                lower_layer {
                        bindings = <
&none   &none           &none            &none        &none         &kp GRAVE       &kp EQUAL       /*|*/         &kp MINUS   &kp FSLH         &kp LBKT      &kp RBKT      &kp BSLH       &mc_vs_command    &none
        &mt LCTRL PLUS  &hm LCTRL EXCL   &hm LALT AT  &hm LGUI HASH &hm LSHIFT DLLR &kp PRCNT       /*|*/         &kp CARET   &hm RSHIFT AMPS  &hm RGUI STAR &hm RALT LPAR &hm RCTRL RPAR &mc_vs_format
        &mt LALT EQUAL  &kp N1           &kp N2       &kp N3        &kp N4          &kp N5          /*|*/         &kp N6      &kp N7           &kp N8        &kp N9        &kp N0         &kp RALT
                                                      &lt ADJ TAB   &trans          &trans          /*|*/         &trans      &trans           &lt ADJ DEL
                        >;
                };

                raise_layer {
                        bindings = <
&none   &mt LGUI COMMA    &none       &none        &none            &none         &none         /*|*/   &kp C_MUTE     &kp C_VOL_DN     &kp C_VOL_UP   &kp C_PREVIOUS  &kp C_PLAY_PAUSE   &kp C_NEXT       &none
        &mt LCTRL EQUAL   &mc_w_gaps  &mc_w_full   &mc_spot_light   &mc_w_half_l  &mc_w_half_r  /*|*/   &kp LEFT       &kp DOWN         &kp UP         &kp RIGHT       &none              &mt RCTRL  K_APP
        &kp LALT          &mc_redo    &mc_undo     &mc_copy         &mc_paste     &none         /*|*/   &none          &kp C_BRI_DEC   &kp C_BRI_INC  &mc_scr_part    &mc_scr_menu       &kp RALT
                                                   &trans           &trans        &lt ADJ RET   /*|*/   &lt ADJ ESC    &trans     &trans
                        >;
                };
                adjust_layer {
                        bindings = <
&none   &kp F1        &kp F2         &kp F3         &kp F4         &kp F5         &kp F6        /*|*/       &kp F7         &kp F8         &kp F9         &kp F10        &kp F11        &kp F12     &none
        &bt BT_CLR    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4  /*|*/       &bt BT_SEL 4   &bt BT_SEL 3   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0   &bt BT_CLR
        &reset        &bootloader    &none          &none          &none          &none         /*|*/       &none          &none          &none          &none          &bootloader    &reset
                                     &trans         &none          &trans         &none         /*|*/       &trans         &trans
                        >;
                };
        };

};
